.textArea {
  display: flex;
  flex-direction: column;
  border-style: none;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;
  text-indent: 5px;
  padding-top: 5px;
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
    border-width: 1px;
  border-style: solid;
  border-color: rgba(123, 123, 123, 0.103);
  background-color: var(--TextInputColor);
  color: var(--SecondaryTextColor)
}

.textArea.disabled {
  background-color: var(--disabledInput);
}


.textArea:focus {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(123, 123, 123, 0.537);
  outline: none;
}

.textAreaLabel {
    margin-bottom: 5px;
    font-size: 0.9rem;
  font-weight: bold;
    font-family: var(--font-myfont), sans-serif; 
  color: var(--PrimaryTextColor);
}

.wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textAreaSkeleton {
  min-height: 100px;
  max-height: 300px;
  height: 100px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 37%,
    #e0e0e0 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 0.8s ease infinite;
}


@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
