.primary_button {
  background-color: var(--PrimaryTextColor);
  color: var(--ComponentContainerColor);
  border: none;
  padding: 0.3rem 0.9rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2rem;
  transition: transform 0.1s ease;
}

.noBackground {
  font-size: 0.7rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--PrimaryTextColor)
}

.noBackground:hover {
  text-decoration: underline;
}

.primary_button:hover {
  background-color: var(--SecondaryTextColor);
}

.primary_button:active {
  transform: scale(0.96); 
}
