.postContainer {
  border-radius: 2rem;
  background-color: #ffffffff;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 50px;
}

.title {
  font-size: 1.4rem
}

.description {
  line-height: 1.4rem
}

.commentContainer {
/*   border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.emptyPostsNotice {
  color: var(--SecondaryTextColor);
  margin: 200px auto;
  text-align: center
}

.commentButton {
  height: 35px;
  margin-left: auto;
}
