.dropdown {
  position: relative;
  margin-top: 10px;
/*   width: 100%; */
/*   display: inline-block; */
/*   border: 1px solid red; */
}

.dropdownButton {
  background: var(--TextInputColor);  
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-family: var(---font-myfont);
/*   width: 140px; */
width: 100%;
color: var(--PrimaryTextColor)
}

.dropdownButton.disabled {
  background-color: var(--disabledInput)
}

.arrowIcon {
  transition: transform 0.2s ease;
}

.rotate {
  transform: rotate(180deg);
}

.dropdownList {
  position: absolute;
  left: 0;
  background: var(--background);
  border: 1px solid #ccc;
  color: var(--PrimaryTextColor);
  border-radius: 8px;
  width: max-content;
width: 100%;
  list-style: none;
  margin: 4px 0 0 0;
  padding: 6px 0;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform-origin: top;
}

/* Open direction */
.openDown {
  top: calc(100% + 4px);
}

.openUp {
  bottom: calc(100% + 4px);
  transform-origin: bottom;
}


.placeholder {
  margin-right: 5px;
}

/* Fade in animation */
.fadeIn {
  animation: dropdownFadeIn 0.2s forwards;
}

.fadeOut {
  animation: dropdownFadeOut 0.2s forwards;
}

@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
    transform: scaleY(0.95);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes dropdownFadeOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0.95);
  }
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s ease;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: var(--ButtonHover);
}
