.header {
  position: sticky;
  top: 0;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  z-index: 1001;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-accentFont);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--MainPrimaryButtonColor);
  cursor: pointer;
  text-decoration: none;
}


.authButtons {
  border: 1px solid var(--PrimaryButtonColor);
  color: var(--PrimaryButtonColor);
  background: transparent;
  padding: 4px 10px;
  font-size: 0.7rem;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}


.authButtons:hover {
  border: 1px solid var(--PrimaryButtonColor);
  background: transparent;
}


.profilePic {
  margin-right: 10px 
}

.authContainer {
/*   border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 5px;
}

.username {
  font-size: 0.9rem;
  font-family: var(--font-titleFont);
}