.header {
  color: red;
  border: 1px solid var(--border-color);
  height: 7vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
 position: sticky;
  top: 0;
  background-color: var(--background);
   z-index: 1000; 
/*   width: 100vw */
transition: ease 0.5s
}


.authButtons {
  border: 1px solid var(--PrimaryButtonColor);
  color: var(--PrimaryButtonColor);
  background: transparent;
  padding: 6px 12px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}


.authButtons:hover {
  border: 1px solid var(--PrimaryButtonColor);
  background: transparent;
}

.logo {
  font-family: var(--font-accentFont);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--MainPrimaryButtonColor);
  margin-right: 10px;
}

.profilePic {
  margin: 10px 
}

.authContainer {
/*   border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 5px;
}